/*
* DIV
*/
.card-exp-date__input-group {
  padding: 12px 6px 0;
  box-sizing: border-box;
  margin-top: 23px;
  width: 100%;
}

.card-exp-date__input-group__legacy,
.card-exp-date__input-group__webmobile {
  padding: 0 6px;
}


/*
* INPUT FIELD
*/
.card-exp-date__input {
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #000;
  -moz-appearance: textfield;
  line-height: normal;
  box-shadow: none;
}

.card-exp-date__input__storefront {
  padding: 10px 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  border-radius: 0;
}

.card-exp-date__input__legacy,
.card-exp-date__input__webmobile {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  font-weight: 200;
  font-size: 12px;
}

.card-exp-date__input__legacy {
  outline: none;
  padding: 4px;
}

.card-exp-date__input__webmobile {
  font-size: 14px;
  padding: 12px 8px;
}

.card-exp-date__input:focus {
  outline: none;
  border-color: #000;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
}

.card-exp-date__input_invalid {
  border-color: #e55253;
}

.card-exp-date__input_invalid:focus {
  border-color: #e55253;
}


/*
* LABEL - PLACEHOLDER 
*/
.card-exp-date__label__storefront {
  color: #666;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 43px;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
}

.card-exp-date__input:focus~.card-exp-date__label__storefront {
  color: #000;
}

.card-exp-date__label__storefront__invalid {
  color: #e55253;
}

.card-exp-date__label__legacy {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.card-exp-date__input__storefront:focus~.card-exp-date__label__storefront,
.card-exp-date__input__not-empty~.card-exp-date__label__storefront {
  top: 25px;
  font-size: 10px;
}


/*
* ICON
*/
.card-exp-date__icon {
  fill: #666;
  position: absolute;
  top: 44px;
  left: 6px;
  cursor: default;
  text-align: center;
}

.card-exp-date__input:focus~.card-exp-date__icon {
  fill: #000;
}

.card-exp-date__icon_invalid {
  fill: #e55253;
}

.card-exp-date__input:focus~.card-exp-date__icon_invalid {
  fill: #e55253;
}


/*
* CLEAR BUTTON
*/
.card-exp-date__clear-button {
  fill: #999;
  position: absolute;
  cursor: pointer;
  display: none;
}

.card-exp-date__clear-button__storefront {
  right: 10px;
  top: 48px;
}

.card-exp-date__clear-button__legacy {
  right: 12px;
  top: 54.5px;
}

.card-exp-date__clear-button__webmobile {
  right: 17px;
  top: 64px;
}

.card-exp-date__input:focus~.card-exp-date__clear-button {
  display: block;
}


/*
* MM / YY PLACEHOLDER
*/
.card-exp-date__placeholder {
  position: absolute;
  font-size: 10px;
  font-size: .714rem;
  color: #666;
  left: 5px;
  display: none;
}

.card-exp-date__input:focus~.card-exp-date__placeholder {
  display: block;
}


/*
* ERROR MESSAGE
*/
.card-exp-date__error {
  position: absolute;
  font-size: 10px;
  font-size: .714rem;
  color: #e55253;
  left: 5px;
}