/*
* DIV
*/
.card-number__input-group {
  box-sizing: border-box;
  width: 100%;
  margin-top: 23px;
  padding: 12px 6px 0;
}

.card-number__input-group__legacy,
.card-number__input-group__webmobile {
  padding: 0 6px;
}


/*
* INPUT FIELD
*/
.card-number__input {
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #000;
  -moz-appearance: textfield;
  line-height: normal;
}

.card-number__input__storefront {
  padding: 10px 30px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.card-number__input__legacy,
.card-number__input__webmobile {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  font-weight: 200;
  font-size: 12px;
}

.card-number__input__legacy {
  outline: none;
  padding: 4px;
}

.card-number__input__webmobile {
  font-size: 14px;
  padding: 12px 8px;
}

.card-number__input:focus {
  outline: none;
  border-color: #000;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
}

.card-number__input_invalid {
  border-color: #e55253;
}

.card-number__input_invalid:focus {
  border-color: #e55253;
}

.card-number__input-left-padding__storefront {
  padding-left: 40px;
}

.card-number__input-left-padding__legacy {
  padding-left: 40px;
}

.card-number__input-left-padding__webmobile {
  padding-left: 45px;
}

/*
* LABEL - PLACEHOLDER 
*/
.card-number__label__storefront {
  color: #666;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 45px;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
}

.card-number__input:focus~.card-number__label__storefront {
  color: #000;
}

.card-number__label__storefront__invalid {
  color: #e55253;
}

.card-number__label__legacy {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.card-number__input__storefront:focus~.card-number__label__storefront,
.card-number__input__not-empty~.card-number__label__storefront {
  top: 25px;
  font-size: 10px;
}


/*
* CARD ICON
*/
.card-number__icon {
  fill: #666;
  position: absolute;
  top: 45px;
  left: 6px;
  cursor: default;
  text-align: center;
}

.card-number__input:focus~.card-number__icon {
  fill: #000;
}

.card-number__icon_invalid {
  fill: #e55253;
}

.card-number__input:focus~.card-number__icon_invalid {
  fill: #e55253;
}


/*
* CARD TYPE ICON
*/
.card-number__card-type {
  position: absolute;
}

.card-number__card-type__storefront {
  top: 45px;
}

.card-number__card-type__legacy {
  top: 52px;
  left: 10px;
}

.card-number__card-type__webmobile {
  left: 15px;
  top: 62px;
}

.card-number__card-type_icon {
  margin-right: 20px;
  width: 30px;
  height: 20px;
  display: inline-block;
}


/*
* CLEAR BUTTON
*/
.card-number__clear-button {
  fill: #999;
  position: absolute;
  cursor: pointer;
  display: none;
}

.card-number__clear-button__storefront {
  right: 10px;
  top: 47.5px;
}

.card-number__clear-button__legacy {
  right: 12px;
  top: 54.5px;
}

.card-number__clear-button__webmobile {
  right: 17px;
  top: 64.5px;
}

.card-number__input:focus~.card-number__clear-button {
  display: block;
}


/*
* ERROR
*/
.card-number__error {
  position: absolute;
  font-size: 10px;
  font-size: .714rem;
  color: #e55253;
  left: 5px;
}