/*
* DIV
*/
.card-cvv-input__input-group {
    padding: 12px 6px 0;
    box-sizing: border-box;
    margin-top: 25px;
    width: 100%;
}

.card-cvv-input__input-group__legacy,
.card-cvv-input__input-group__webmobile {
  padding: 0 6px;
}


/*
* INPUT FIELD
*/
.card-cvv-input__input {
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #000;
  -moz-appearance: textfield;
  line-height: normal;
}

.card-cvv-input__input__masked {
  -webkit-text-security: disc;
}

.card-cvv-input__input__storefront {
  padding: 10px 30px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.card-cvv-input__input__legacy,
.card-cvv-input__input__webmobile {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  font-weight: 200;
  font-size: 12px;
}

.card-cvv-input__input__legacy {
  outline: none;
  padding: 4px;
}

.card-cvv-input__input__webmobile {
  font-size: 14px;
  padding: 12px 8px;
}

.card-cvv-input__input:focus {
  outline: none;
  border-color: #000;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
}

.card-cvv-input__input_invalid {
  border-color: #e55253;
}

.card-cvv-input__input_invalid:focus {
  border-color: #e55253;
}


/*
* LABEL - PLACEHOLDER
*/
.card-cvv-input__label__storefront {
  color: #666;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 47px;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
}

.card-cvv-input__input:focus~.card-cvv-input__label__storefront {
  color: #000;
}

.card-cvv-input__label__legacy {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.card-cvv-input__input__storefront:focus~.card-cvv-input__label__storefront,
.card-cvv-input__input__not-empty~.card-cvv-input__label__storefront {
  top: 25px;
  font-size: 10px;
}


/*
* ICON
*/
.card-cvv-input__icon {
    fill: #666;
    position: absolute;
    top: 46px;
    left: 6px;
    cursor: default;
    text-align: center;
}

.card-cvv-input__input:focus~.card-cvv-input__icon {
    fill: #000;
}

.card-cvv-input__icon_invalid {
  fill: #e55253;
}

.card-cvv-input__input:focus~.card-cvv-input__icon_invalid {
  fill: #e55253;
}


/*
* SHOW BUTTON
*/
.card-cvv-input__show-button {
  position: absolute;
  cursor: pointer;
}

.card-cvv-input__show-button__storefront {
  right: 18px;
  top: 48px;
}

.card-cvv-input__show-button__legacy {
  right: 11px;
  top: 53.5px;
}

.card-cvv-input__show-button__webmobile {
  right: 19px;
  top: 63.5px;
}


/*
* HELP BUTTON
*/
.card-cvv-input__help-button {
  color: #000;
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #cdcdcd;
  padding-left: 1px;
}

.card-cvv-input__help-button__storefront {
  right: -20px;
  top: 47px;
}

.card-cvv-input__help-button__legacy {
  right: -16px;
  top: 55px;
  width: 17px;
  height: 17px;
  font-size: 12px;
}

.card-cvv-input__help-button__webmobile {
  right: -19px;
  top: 63px;
}


/*
* ERROR MESSAGE
*/
.card-cvv-input__error {
    position: absolute;
    font-size: 10px;
    font-size: .714rem;
    color: #e55253;
    left: 5px;
}